@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'PT Sans Narrow', sans-serif;
}

body {
  background: linear-gradient(90deg, #cd2324 0%, #cd2324, 30%, #1941bb 30%, #1941bb 100%);
}

.contactUs {
  position: relative;
  width: 100%;
  padding: 40px 100px;
}

.contactUs .title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  letter-spacing: 2px;
}

.contactUs .title h2 {
  color: #fff;
  font-weight: 700;
}

.form {
  grid-area: form;
  border-radius: 4px;
}

.info {
  grid-area: info;
  border-radius: 4px;
}

.map {
  grid-area: map;
  border-radius: 4px;
}

.contact {
  padding: 40px;
  background: #fff;
  box-shadow: 0 5px 35px rgba(0,0,0,0.15);
}

.box {
  position: relative;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 5fr 4fr;
  grid-template-areas: "form info" "form map";
  grid-gap: 20px;
  margin-top: 20px;  
}

.contact h3 {
  color: #1941bb;
  font-weight: 700;
  font-size: 1.4em;
  margin-bottom: 10px;
}

/* form */
.formBox {
  position: relative;
  width: 100%;  
}

.formBox .row50 {
  display: flex;
  gap: 20px;
}

.inputBox {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  width: 50%;
}

.formBox .row100 .inputBox {
  width: 100%;  
}

.inputBox span {
  color: #1941bb;
  margin-top: 10px;
  margin-bottom: 5px;
  letter-spacing: 1px;
  font-weight: 700;
}

.inputBox input {
  padding: 10px;
  font-size: 1.1em;
  outline: none;
  letter-spacing: 1px;
  border: 1px solid #333;
  border-radius: 4px;
}

.inputBox select {
  padding: 10px;
  font-size: 1.1em;
  outline: none;
  letter-spacing: 1px;
  border: 1px solid #333;
  border-radius: 4px;
}

.inputBox select option {
  color: #1941bb;  
  font-style: italic;
  letter-spacing: 1px;
}

.inputBox textarea {
  padding: 10px;
  font-size: 1.1em;
  outline: none;
  border: 1px solid #333;
  resize: none;
  min-height: 220px;
  margin-bottom: 10px;
  border-radius: 4px;
}

.inputBox input[type="submit"] {
  background: #1941bb;
  color: #fff;
  border: none;
  font-size: 1.1em;
  max-width: 120px;
  font-weight: 700;
  cursor: pointer;
  padding: 14px 15px;
  border-radius: 4px;
}

.inputBox ::placeholder {
  color: #1941bb;
  opacity: 0.7;
  font-style: italic;
}

/* info */
.info {
  background: #9b9797;  
}

.info h3 {
  color: #1941bb;
  letter-spacing: 1px;
}

.info .infoBox div {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.info .infoBox div span {
  min-width: 40px;
  height: 40px;
  color: #fff;
  background: #1941bb;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  border-radius: 50%;
  margin-right: 15px;
}

.info .infoBox div p {
  color: #1941bb;
  font-size: 1.1em;
  letter-spacing: 1px;
}

.info .infoBox div a {
  color: #1941bb;
  text-decoration: none;
  font-size: 1.1em;
  letter-spacing: 1px;
}

.sci {
  margin-top: 40px;
  display: flex;
}

.sci li {
  list-style: none;
  margin-right: 15px;
}

.sci li a {
  color: #333;
  font-size: 3.3em;
}

.sci li a:hover {
  color: #ccc;
}

.map {
  padding: 0;
}

.map iframe {
  width: 100%;
  height: 100%;
}

/* responsive design */
@media(max-width: 991px) {

  body {
    background: #1941bb;
  }

  .contactUs {
    padding: 20px;
  }

  .box {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "form" "info" "map";
  }  

  .formBox .row50 {
    display: flex;
    gap: 0;
    flex-direction: column;    
  }

  .inputBox {    
    width: 100%;
  }

  .contact {
    padding: 30px;
  }

  .map {
    min-height: 300px;
    padding: 0;
  }

}






